<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoChat</title>
    <link rel="stylesheet" type="text/css" href="/web/style.css">
</head>
<body>
    <h1>GeoChat</h1>
    <h2>Message submitted</h2>
    <a href="/">Main page</a>
    <script src="/web/script.js"></script>
</body>
</html>