<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breadcrumbs</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/web/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/web/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/web/css/style.css">
</head>
<body>
    <div id="title">
        <h1 class="centered">Breadcrumbs</h1>
    </div>
    <div class="centered">
        <h1 class="long-description">Message submitted</h1>
        <a href="/">Main page</a>
    </div>
    <div id="bg">
        <img src="/web/images/earth.jpg" id="bg" alt="">
    </div>
    <script src="/web/script.js"></script>
</body>
</html>